.header{
	float: left;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 1px 2px 6px #cccccc38;
	padding: 1.5rem 0;
	position: relative;
    @include transition(.5s);
    @media (max-width: 991px){
		padding: 10px 0;
	}
	@media (max-width: 767px){
		position: relative;
	}
	// &.fixed-header{
	// 	position: fixed;
	// 	background: #fff;
	// }
	.logo{
		position: relative;
		@include transition(.5s);
		@media (max-width: 767px){
			width: 250px;
		}
		@media (max-width: 340px){
			width: 220px;
		}
		img{
			max-height: 100%;
		}
	}
	.languages-box{
		float: right;
		width: 45px;
		height: 30px;
		border: 1px solid #000;
		position: relative;
		margin-top: 27px;
		@include transition(.5s);
		@media (max-width: 991px){
			margin-right: 50px;
		}
		@media(max-width: 767px){
			margin-right: 0;
			position: absolute;
			right: 15px;
			top: -28px;
			zoom: .8;
		}
		a{
			text-align: left;
			float: left;
			width: 100%;
			color: #333333;
			font-size: 20px;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 32px;
			height: 28px;
			border-top: 1px solid #000;
			padding-left: 7px;
			opacity: 0;
			visibility: hidden;
			@include transition(.8s);
			&:hover{
				background: rgba(204, 204, 204, 0.4);
			}
			&:first-child{
				border-top: none;
				opacity: 1;
				visibility: visible;
			}
		}

		&:hover{
			height: 58px;
			a{
				opacity: 1;
				visibility: visible;
			}
		}
		.fa{
			position: absolute;
			right: 0;
			top: 0;
			height: 29px;
			border-left: 1px solid #000;
			line-height: 30px;
			width: 11px;
			text-align: center;
		}
	}
	.btn-search-header{
		float: right;
	    position: relative;
	    margin-left: 15px;
	    margin-top: 21px;
	    margin-right: 12px;
	    width: 40px;
		@media (max-width: 991px){
			float: right;
			position: relative;
			margin-left: 25px;
			margin-top: 20px;
			height: 34px;
			margin-right: 15px;
		}
		@media(max-width: 767px){
			margin-right: 55px;
			margin-left: 0px;
			margin-top: 42px;
			width: 30px;
			zoom: .8;
		}
	    #hSearch input[type="search"]{
	    	width: 5px;
	    	border-radius: 20px;
	    	position: absolute;
	    	right: 0px;
	    	top: 0px;
	    	z-index: 1001;
	    	border: 0;
	    	background: url(../images/icon-search.png) no-repeat 12px center;
	    	background-size: 22px;
	    	color: #000;
	    	padding: 6px 15px 1px 40px;
	    	margin: 0;
	    	box-sizing: border-box;
	    	line-height: 2;
	    	-webkit-transition: width .3s;
	    	transition: width .3s;
	    	cursor: pointer;
	    	outline: none;
	    	font-size: 18px;
	    	::-webkit-input-placeholder {color: #333};
	    	::-moz-placeholder {color: #333};
	    	:-moz-placeholder {color: #333};
	    	:-ms-input-placeholder {color: #333};
	    	@media(max-width: 767px){
	    		right: -15px;
	    	}
	    }
		#hSearch input[type="search"]:focus {
		    width: 240px;
		    background-color: #eee;
		    cursor: text;
		}
	}
}

.top-header{
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
	.info-contact{
		color: #9E9CFA;
		opacity: 0.9;
		display: inline-block;
		span.title{
			text-transform: uppercase;
			margin-right: 25px;
		}
		.phonenumber{
			display: inline-block;
			padding-right: 25px;
		}
		.email{
			display: inline-block;
		}
	}
	.languague{
		float: right;
		select{
			border: 0;
			color: #9E9CFA;
			font-size: 16px;
			&:focus{
				outline: none;
			}
		}
	}
}

// .page-in{
// 	.header{
// 		position: relative;
// 		&.fixed-header {
// 		    position: fixed;
// 		    background: #fff;
// 		}
// 	}
// }

