.page-ticket{
	float: left;
	width: 100%;
	margin-top: 42px;
	margin-bottom: 139px;
	h2{
		font-size: 30px;
		text-align: center;
		letter-spacing: 0.06em;
		font-family: Pony;
		color: #49479D;
		text-transform: uppercase;
		margin: 0;
	}
	.title{
		h2{
			margin-bottom: 23px;
		}
		p{
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: #E43248;
			margin: 0;
		}
	}
	.img{
		margin-top: 58px;
		img{
			margin: 0 auto;
			display: block
		}
	}
}